@import url('https://fonts.googleapis.com/css2?family=Trispace:wght@200;300;400;500&display=swap');
@import 'variables';
@import 'modal';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Trispace';
    color:#fff;
    text-transform: uppercase;
    letter-spacing: 3px;
}

body {
    background: linear-gradient(rgba(14, 13, 21, 0.926), rgba(14, 13, 21, 0.891)), url("../assets/img/bg.jpeg");
}

section{
    width: 100vw;
    height: 100vh;
    @include display-flex(center, column);
    // background-color: $first-color;
}

.container{
    padding: 150px;
}

.bttn{
    padding:10px;
    width: 300px;
    height: 60px;
    box-sizing: border-box;
    background-color:unset;
    border: 1px solid $fifth-color;
    cursor: pointer;
    &:hover{
        background-color: $second-color;
        box-shadow: -1px 1px 29px 10px rgba(255, 255, 255, 0.2);
    }
}

input::-webkit-calendar-picker-indicator {
    opacity: 0;
}

@import 'start';
@import 'game';